{% extends themeRootFile %}

{% block pageContent %}
    <article class="engine engine-{{ engine.slug }}">

        <header>{{engine.name}}</header>
        <img src="{{engine.img.url}}" alt="{{engine.img.alt}} ">
        <div class="content">
            {{engine.desc}}
        </div>

      <dl class="">
        <dt>Size</dt><dd>{{engine.size}}</dd>
        <dt>Type</dt><dd>{{engine.category}}</dd>
        <hr>
        <dt>Velocity</dt><dd>{{engine.speed}}</dd> 
        <dt>Acceleration</dt><dd>{{engine.acceleration}}</dd>
        <dt>Consumption</dt><dd>{{engine.consumption}}</dd>
        <hr>
        <dt>Costs</dt><dd>{{engine.cost}}</dd>
      </dl>


    </article>


{% endblock %}