{% extends themeRootFile %}

{% block pageContent %}
    <article class="hull hull-{{ hull.slug }}">
    <header>{{hull.name}}</header>
    <img src="{{hull.img.url}}" alt="{{hull.img.alt}} ">

    <div class="content">
      {{hull.desc}}
    </div>

    <dl class="">
      <dt>Size</dt><dd>{{hull.size}}</dd>
      <dt>Category</dt><dd>{{hull.category}}</dd>
      <hr>
      <dt>Armor</dt><dd>{{hull.armor}}</dd> 
      <dt>Repair</dt><dd>{{hull.repair}}</dd>
      <hr>
      <dt>Costs</dt><dd>{{hull.cost}}</dd>
    </dl>
  </article>

{% endblock %}