{%- extends themeRootFile -%}

{%- block title -%}{{ config.title|raw }} - {{title}}{%- endblock -%}

{%- block pageTitle -%}{{title}}{%- endblock -%}

{%- block pageAuthor -%}{{author}}{%- endblock -%}

{%- block pageDate -%}{{date}}{%- endblock -%}

{%- block pageContent -%}
    {%- if mailSent -%}
        <div class="message win">thanks for your message, {{name}}, that email should be on it's way to us now.</div>
    {%- else -%}

    {%- for err in errs -%}
    
        <div class="message fail">{{ err }}</div>

    {%- endfor -%}

        <div class="contactContent">{{content}}</div>

        <form action="" method="post">
            <fieldset>
                <legend>you can use this form to send us an email:</legend>
                <div class="row">
                    <div class="span3">
                        <label for="name">Your name:</label><input type="text" name="name" value="" id="name" />
                        <label for="email">Your email:</label><input type="text" name="email" value="" id="email" />
                        <label for="subject">Subject:</label><input type="text" name="subject" value="" id="subject "/>
                    </div>
                    <div class="span5">
                        <label for="text">Text:</label>
                        <textarea rows="6"  class="span5" cols="30" name="text" id="textarea"></textarea>
                        <input type="submit" class="btn" value="Send Mail" />
                    </div>
                </ul>
                </div>
            </fieldset>
        </form>
  {%- endif -%}
{%- endblock -%}

{%- block pageFooter -%}{{footer}}{%- endblock -%}
