label
  vertical-align top
  
input, textarea
  margin 3px
  border 1px solid
  
header
  display inline-block
  width 100%
  margin 15px 0 8px

  #logo
    float left
    font-size 1.3em
 
  nav
    float right
  
    ul li
      display inline

footer
  clear both
  
  nav
    float right

article
  clear both
  margin 20px 0

dl
  margin 20px 0
  clear both

  lh
    margin 0 0 3px
    font-size 1.1em
    display block
  
  dd
    font-style italic
    margin 0 0 15px 10px


.leap{
  margin-top: 15px;
  //display: inline-block;
  padding:1px;
  // position: relative;
  /*margin-bottom: -120px;*/
  text-align:left;
  
  background-color:#ffffff;
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding;
  background-clip:padding-box;
  
  border:1px solid #ccc;
  border:1px solid rgba(0, 0, 0, 0.2);
  
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  
  -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
  white-space:normal;
}

.leap-title{
  margin:0;
  padding:8px 14px;
  font-size:14px;
  font-weight:normal;
  line-height:18px;
  background-color:#f7f7f7;
  border-bottom:1px solid #ebebeb;
  -webkit-border-radius:5px 5px 0 0;
  -moz-border-radius:5px 5px 0 0;
  border-radius:5px 5px 0 0;
  display:block;
  width:auto;
}

.leap-content{
  padding:8px 14px;

}