{% extends themeRootFile %}

{% block title %}{{ config.title|raw }} - posts{% endblock %}

{% block pageContent %}
  {% if pagination.above.show %}
    <div class="pagination">

      {% if pagination.prev.show %}
        <a class="pag-prev" href="{{ pagination.prev.url }}">{{ pagination.prev.text }}</a>
      {% endif %} 

      {% if pagination.count.show %}
        showing page {{ pagination.pages.current }} of {{ pagination.pages.max }}
      {% endif %}

      {% if pagination.next.show %}
        <a class="pag-next" href="{{ pagination.next.url }}">{{ pagination.next.text }}</a>
      {% endif %} 

    </div>
  {% endif %}

  {% for post in posts %}
    <article class="post post-{{ post.slug }}">

      <header><a href="{{blogRootDir}}{{post.slug}}">{{post.title}}</a></header>
      <div class="subheader">{{ post.author }} - {{ post.date }}</div>

      <div class="content">{{post.content}}</div>

      <footer>{{post.footer}}</footer>

    </article>
  {% endfor %}

  {% if pagination.below.show %}
    <div class="pagination">

      {% if pagination.prev.show %}
        <a class="pag-prev" href="{{ pagination.prev.url }}">{{ pagination.prev.text }}</a>
      {% endif %} 
      
      {% if pagination.count.show %}
        showing page {{ pagination.pages.current }} of {{ pagination.pages.end }}
      {% endif %}
      
      {% if pagination.next.show %}
        <a class="pag-next" href="{{ pagination.next.url }}">{{ pagination.next.text }}</a>
      {% endif %} 

    </div>
  {% endif %}
  
{% endblock %}
