{% extends themeRootFile %}

{% block title %}{{ config.title|raw }} - posts{% endblock %}

{% block pageContent %}
  {% if pagination.above.show %}
    <div class="pagination pagination-centered">
        <ul>
          <li class="{% if not pagination.prev.show %}disabled{% endif %}">   
              <a href="{% if pagination.prev.show %}{{ pagination.prev.url }}{%else%}#{% endif %}"> 
                {{ pagination.prev.text }}
              </a>
          </li>

          {% for pa in pagination.maxPages %}
            <li class="{% if pagination.pages.current == pa.page %}active{% endif %}">
              <a href="{{pa.url}}" >{{pa.page}}</a>
            </li>
          {% endfor %}                  

          <li class="{% if not pagination.next.show %}disabled{% endif %}">   
              <a href="{% if pagination.next.show %}{{ pagination.next.url }}{%else%}#{% endif %}"> 
                {{ pagination.next.text }}
              </a>
          </li>
        </ul>
    </div>
  {% endif %}

  {% for post in posts %}
    <article class="post leap post-{{ post.slug }}">
      <header class="leap-title">
        
        <div class="row">
          <div class="span7">
              <a href="{{blogRootDir}}{{post.slug}}">{{post.title}}</a>
          </div>
          <div class="span4 pull-right">
              {{ post.author }} - {{ post.date|date('F jS, Y') }} 
          </div>
        </div>



      

      </header>
      <div class="leap-content">
        {{post.content}}
      </div>
      <footer>{{post.footer}}</footer>
    </article>
  {% endfor %}

  {% if pagination.below.show %}
    <div class="pagination pagination-centered">
        <ul>
          <li class="{% if not pagination.prev.show %}disabled{% endif %}">   
              <a href="{% if pagination.prev.show %}{{ pagination.prev.url }}{%else%}#{% endif %}"> 
                {{ pagination.prev.text }}
              </a>
          </li>

          {% for pa in pagination.maxPages %}
            <li class="{% if pagination.pages.current == pa.page %}active{% endif %}">
              <a href="{{pa.url}}" >{{pa.page}}</a>
            </li>
          {% endfor %}                  

          <li class="{% if not pagination.next.show %}disabled{% endif %}">   
              <a href="{% if pagination.next.show %}{{ pagination.next.url }}{%else%}#{% endif %}"> 
                {{ pagination.next.text }}
              </a>
          </li>
        </ul>
    </div>
  {% endif %}
  
{% endblock %}
